.index-header{min-width: 980px;height: 82px;background-color:#3B5998;display: block;margin: 0px;padding: 0px;}
.index-table{color:#E0E4EF;font-size: 14px;font-family: "Microsoft Yahei";padding-top: 15px;padding-left: 980px;}
.input-label-1{padding-left: 20px;}
.input-label-2{padding-left: 45px;}
.index-input-text{width: 120px;}
/*
.header-logo{font-family: "Microsoft Yahei";list-style: none;margin-left: 15%;padding-top:5px;color: #FFFFFF;display: block;}
*/
/*ul{list-style: none;float: left;}*/
.index-center{min-width: 980px;height: 507px;background-color:#E0E4EF;display: block;}
.center-left{font-family: inherit;color: #0E385F;font-size: 21px;font-weight: bold;line-height: 29px;display: block;
    /*margin-left:15%*/;padding-top:40px;width: 450px;word-spacing: -1px;}
/*
.oneline{display: inline;}*/
