.index-header{min-width: 1903px;height: 82px;background-color:#3B5998;display: block;margin: 0px;padding: 0px;}
.header-logo{font-family: "Microsoft Yahei";list-style: none;margin-left: 500px;padding-top:5px;color: #FFFFFF;display: block;}

.index-center{min-width: 1903px;height: 507px;background-color:#E0E4EF;display: block;}
.center-left{font-family: inherit;color: #0E385F;font-size: 21px;font-weight: bold;line-height: 29px;display: block;
    margin-left:500px;padding-top:40px;width: 450px;word-spacing: -1px;}